@charset "UTF-8";

.navbar.display {
	padding-right: 100px; 
	padding-left: 100px;
	background-color: #A3BBAD;
}

.navbar.option {
	padding-right: 100px;
	padding-left: 100px;
}

.general-padding {
    padding-right: 100px;
    padding-left: 100px;
}

.home {
	padding: 100px;
}

.addItem {
	padding: 100px;
	width: 75%;
}

.row {
	padding: 10px;
}

.center {
	text-align: center;
}

.icon {
	width: 20px;
	height: 20px;
	margin-left: 10px;
}

.options {
	width: 5%;
}

.title {
	width: 50%;
}