@charset "UTF-8";

.navbar {
	color: "#FFFFF"
}

.general-padding {
    padding-right: 100px;
    padding-left: 100px;
}

.home {
	padding: 100px;
}

.addItem {
	padding: 100px;
	width: 75%;
}

.row {
	padding: 10px;
}