@charset "UTF-8";

.navbar.display {
	padding-right: 100px; 
	padding-left: 100px;
	background-color: #A3BBAD;
}

.navbar.option {
	padding-right: 100px;
	padding-left: 100px;
}

.general-padding {
    padding-right: 100px;
    padding-left: 100px;
}

.home {
	padding: 100px;
}

.addItem {
	padding: 100px;
	width: 75%;
}

.row {
	padding: 10px;
}

.center {
	text-align: center;
}

.title-col {
	width: 55%;
}

.type-col {
	width: 5%;
}

.book-title-col {
	width: 40%;
}

.author-col {
	width: 20%;
}

.option-col {
	width: 7.5%;
}


.btn.options {
	font-size: 12px;
	display: inline;
}